*.bgn
*.bld
*.cmd
*.cmd_log
*.csv
*.drc
*.html
*.ipf
*.ise
*.log
*.lso
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.ntrc_log
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.restore
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xml
*.xpi
*.xrpt
*.xst

*~
*xst*
*xdb*
*ngo*
*xmsgs*
*pad.txt
